extends layout

block content
  if errorMessages
    each i in errorMessages
      p= i
  form(name='post' method='POST' action='/')
    p Nafn
    input(type='text', name='name')
    p Email
    input(type='text', name='email')
    P SSN
    input(type='text', name='ssn')
    p Number
    input(type='text', name='num')
    p
    button Senda
  p
  a(href='login') Innskraning
  