extends layout

block content
  if errorMessages
    each i in errorMessages
      p= i
  form(name='post' method='POST' action='/login')
    p Notendanafn :
    input(type='text', name='username' value='admin')
    p Lykilorð :
    input(type='password', name='password' value='123')
    br
    br
    P 
    button Innskrá !
  br
  br
  a(class='button' href='../') Aftur á forsíðu
  