extends layout

block content
  if errorMessages
    each i in errorMessages
      p= i
  form(name='post' method='POST' action='/login')
    p Notendanafn
    input(type='text', name='username' value='admin')
    p Lykilord
    input(type='password', name='password' value='123')
    P 
    button Innskra
  p
  a(href='../') Forsida
  